.hero {
  position: relative;
}

.banner-img {
  width: 100%;
  mask-image: linear-gradient(to right, transparent, black 75%);
  -webkit-mask-image: linear-gradient(to right, transparent, black 75%);
}

.Hero-caption {
  position: absolute;
  width: 100%;
  padding-left: 6%;
  bottom: 0;
}

.caption-img {
  width: 90%;
  max-width: 420px;
  margin-bottom: 30px;
}

.Hero-caption p {
  max-width: 700px;
  font-size: 17px;
  margin-bottom: 20px;
}

.Hero-btns {
  display: flex;
  gap: 10px;
  margin-bottom: 50px;
}

.Hero-btns .btn img {
  width: 25px;
}

.Hero-btns .btn {
  border: 0;
  outline: 0;
  padding: 8px 20px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  font-weight: 600;
  background: white;
  border-radius: 4px;
  cursor: pointer;
}

.Hero-btns .btn.dark-btn {
  background: #6d6d6eb3;
  color: #fff;
}

.Hero-btns .btn:hover {
  background: #ffffffbf;
}

.Hero-btns .btn.dark-btn:hover {
  background: #6d6d6e66;
}

.more-cards {
  padding-left: 6%;
}

@media (max-width: 1024px) {
  .Hero-caption .title-cards {
    display: none;
  }
  .Hero-btns {
    margin-bottom: 30px;
  }
}

@media (max-width: 800px) {
  .Hero-caption {
    padding-left: 4%;
  }
  .caption-img {
    margin-bottom: 10px;
    width: 40%;
  }
  .Hero-caption p{
    font-size: 12px;
    margin-bottom: 10px;
  }
  .Hero-btns .btn img {
    width: 20px;
  }
  .more-cards {
    padding-left: 4%;
  }
}

@media (max-width: 500px) {
  .caption-img {
    display: none;
  }
  .Hero-btns .btn img {
    width: 15px;
  }
  .Hero-btns .btn {
    padding: 4px 10px;
    gap: 5px;
    font-size: 10px;
  }
}
